{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "checki18n",
            "type": "python",
            "request": "launch",
            "program": "checki18n.py",
            "args": [
                "-d", 
                "C:/cygwin/home/asfNflksjer/gitdev/retrycopy/retrycopy/",
                "-r", 
                "C:/cygwin/home/asfNflksjer/gitdev/retrycopy/retrycopy/retrycopyStrings.ja-JP.resx"
            ],
            "console": "integratedTerminal"
        }
    ]
}